.slider-wrapper {
	background:url(/assets/archo/slider-bg.gif) repeat-x center top;
	position:relative;
	padding: 15px 0 18px;
	z-index:1;
}

.slider-left {
	background:url(/assets/archo/slider-left.jpg) no-repeat left top;
	width:100%;
}

.slider-right {
	background:url(/assets/archo/slider-right.jpg) no-repeat right top;
	width:100%;
}

#slides {
	margin: 0 auto; 
	width: 940px; 
	position:relative; 
	height: auto; 
	box-shadow: 0px 0px 5px #a5a5a5;
	-moz-box-shadow: 0px 0px 5px #a5a5a5;
	-webkit-box-shadow: 0px 0px 5px #a5a5a5;
}
.slides_container {
	width:940px;
	height:500px;
}
.slides_container div.slide {
	width:920px;
	height: auto; 
	display:block;
	padding:10px; 
	background:#fff;
}
.slides_container div.slide img { 
	max-width:100%; 
	height: auto;
}

/* Control Nav */
.caption { 
	position:absolute;
	background:url(/assets/archo/slider-box-bg.png) repeat 0 0;
	padding: 13px 22px 0;
	overflow:hidden;
	right:58px;
	height:278px;
	width:168px;
	z-index:999;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.next,.prev{ 
	display:block; 
	width:32px; 
	height:32px; 
	position:absolute; 
	bottom:-11px; 
	line-height:0; 
	font-size:0; 
	z-index:99;
}
.next { 
	background:url(/assets/archo/control-buttons.png) -33px 0 no-repeat; 
	right:437px;
}
.prev {
	background:url(/assets/archo/control-buttons.png) 0 0 no-repeat; 
	right:470px;
}

.next:hover {background-position: -33px -34px;}
.prev:hover {background-position: 0 -34px;}

.slider-box-title {
	font-size:16px;
	line-height:24px;
	color:#fff;
	text-transform:uppercase;
}

.slider-inner {
	line-height:22px;
	color:#9b9b9b;
}

.close-button {
	position:absolute;
	display:block;
	background:url(/assets/archo/close-button.png) no-repeat 0 0;
	text-decoration:none;
	top:4px;
	right:4px;
	height:22px;
	width:22px;
}

.close-button:hover {background-position: 0 -23px;}

.close-button.st1 {background-position: 0 -46px;}
.close-button.st1:hover {background-position: 0 -69px;}

.slider-box-links {
	position:absolute;
	top:252px;
	left:0;
}

.slider-box-links a {
	display:block;
	float:left;
	background:url(/assets/archo/slider-box-link.png) repeat-x 0 0;
	font-family:"Times New Roman", Times, serif;
	font-size:16px;
	line-height:20px;
	color:#FFF;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	padding:9px 0 10px;
	width:106px;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}

.slider-box-links a:hover {
	background-position: 0 -41px;
	text-shadow: 1px 1px 1px #0588b4;
	-moz-text-shadow: 1px 1px 1px #0588b4;
	-webkit-text-shadow: 1px 1px 1px #0588b4;
}

@media only screen and (min-width: 768px) and (max-width: 995px) {
	#slides {width:748px;}
	.slides_container {width: 748px !important;height:400px;}
	.slides_container div.slide {width: 728px;}
	.next,.prev{bottom:-13px;}
	.next {right:345px;}
	.prev {right:379px;}
}

@media only screen and (max-width: 767px) {	
	#slides {width: 300px;}
	.slides_container {width: 300px;height:159px;}
	.slides_container div.slide {width: 294px;padding:3px;}
	.next,.prev{bottom:8px;}
	.next{right:10px;}
	.prev{right:45px;}
	.caption {display:none;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	#slides {width: 420px;}
	.slides_container {width: 420px;height:229px;}
	.slides_container div.slide {width: 400px;padding:10px;}
	.next,.prev{bottom:12px;}
	.next{right:12px;}
	.prev{right:47px;}
}