.slider-wrap
  .layerslider{"data-hover-bottom-nav" => "true", "data-show-bar-timer" => "true", "data-show-circle-timer" => "false", style: "height: 440px;"}
    .ls-layer{style: "slidedelay: 6000; delayout: 500; transition2d: all;"}
      %img.ls-bg{alt: "", src: "/assets/demo/slides/dynamic/bg_1.jpg"}/
      %img.ls-s-1{alt: "", rel: "slidedirection: left; scalein: 0.2; durationout: 2000; scaleout: 0.5; durationin: 4000; durationout: 2000;", src: "/assets/demo/slides/dynamic/balloon.png", style: "left: 160px; top: 50px;"}/
      .ls-s-1{rel: "slidedirection: fade; slideoutdirection: fade; delayin: 2000; scalein: 2; durationin: 1500;", style: "padding: 10px 20px; border-radius: 3px; background-color: #333333; font-size: 26px; font-weight: 300; white-space: nowrap; color: #ffffff; left: 620px; top: 100px;"}
        Hi, We're Youxi...
      .ls-s-1{rel: "delayin: 3000; slidedirection: fade; slideoutdirection: bottom;", style: "left: 620px; top: 175px; font-size: 14px; line-height: 25px; white-space: nowrap; color: #666666;"}
        We are a collection of widgets and elements,
        %br/
        we are bundled and optimized to work together
        %br/
        as a website template making the perfect choice
        %br/
        for any of your blog or business websites.
    .ls-layer{style: "slidedelay: 6000; delayout: 1200; transition2d: all;"}
      %img.ls-bg{alt: "", src: "/assets/demo/slides/dynamic/bg_2.jpg"}/
      %img.ls-s-1{alt: "", rel: "slidedirection: bottom; slideoutdirection: bottom; durationout: 750; durationin: 750; delayin: 750; delayout: 1000;", src: "/assets/demo/slides/dynamic/girl.png", style: "left: 382px; top: 60px;"}/
      %img.ls-s-1{alt: "", rel: "slidedirection: right; slideoutdirection: right; durationout: 750; durationin: 750; delayout: 1000;", src: "/assets/demo/slides/dynamic/imac.png", style: "left: 687px; top: 100px;"}/
      %img.ls-s-1{alt: "", rel: "slidedirection: top; slideoutdirection: right; durationout: 750; durationin: 750; delayin: 500; delayout: 1000;", src: "/assets/demo/slides/dynamic/iphone.png", style: "left: 697px; top: 260px;"}/
      .ls-s-1{rel: "slidedirection: fade; slideoutdirection: left; delayin: 1500; delayout: 1000; durationin: 500; durationout: 500;", style: "padding: 10px 20px; border-radius: 3px; background-color: #ffffff; font-size: 26px; color: #181818; white-space: nowrap; left: 80px; top: 90px;"}
        Why do we love Youxi?
      .ls-s-1{rel: "slidedirection: bottom; slideoutdirection: bottom; delayin: 2500; durationin: 250; durationout: 400; delayout: 800;", style: "font-size: 14px; color: #787878; left: 90px; top: 172px;"}
        %span{style: "margin-right: 5px;"}
          %i.icon-ok-2
        Fully Responsive Layout
      .ls-s-1{rel: "slidedirection: bottom; slideoutdirection: bottom; delayin: 2700; durationin: 250; durationout: 400; delayout: 600;", style: "font-size: 14px; color: #787878; left: 90px; top: 206px;"}
        %span{style: "margin-right: 5px;"}
          %i.icon-ok-2
        Retina Display Ready
      .ls-s-1{rel: "slidedirection: bottom; slideoutdirection: bottom; delayin: 2900; durationin: 250; durationout: 400; delayout: 400;", style: "font-size: 14px; color: #787878; left: 90px; top: 240px;"}
        %span{style: "margin-right: 5px;"}
          %i.icon-ok-2
        Clean and Professional Design
      .ls-s-1{rel: "slidedirection: bottom; slideoutdirection: bottom; delayin: 3100; durationin: 250; durationout: 400; delayout: 200;", style: "font-size: 14px; color: #787878; left: 90px; top: 274px;"}
        %span{style: "margin-right: 5px;"}
          %i.icon-ok-2
        W3C Compliant HTML5 & CSS3
      .ls-s-1{rel: "slidedirection: bottom; slideoutdirection: bottom; delayin: 3300; durationin: 250; durationout: 400;", style: "font-size: 14px; color: #787878; left: 90px; top: 308px;"}
        %span{style: "margin-right: 5px;"}
          %i.icon-ok-2
        Premium Plugins Included
    .ls-layer{style: "slidedelay: 6000; delayout: 1200; transition2d: all;"}
      %img.ls-bg{alt: "", src: "/assets/demo/slides/dynamic/bg_31.jpg"}/
      %img.ls-s-1{alt: "", rel: "slidedirection: top; slideoutdirection: right; rotateout: 180; rotatein: -360; durationout: 1500; durationin: 2000; delayin: 1500; delayout: 1000; easingin: easeOutBounce;", src: "/assets/demo/slides/dynamic/chrome.png", style: "left: 222px; top: 280px;"}/
      .ls-s3{rel: "slidedirection: fade; scalein: 4; delayin: 4000; easingin: easeOutExpo;", style: "left: 216px; top: 385px; color: #ffffff; font-size: 13px; padding: 5px 10px;"}
        Google Chrome
      %img.ls-s-1{alt: "", rel: "slidedirection: top; slideoutdirection: right; rotateout: 180; rotatein: 360; durationout: 1500; durationin: 2000; delayin: 2000; delayout: 1000; easingin: easeOutBounce;", src: "/assets/demo/slides/dynamic/firefox.png", style: "left: 342px; top: 280px;"}/
      .ls-s3{rel: "slidedirection: fade; scalein: 4; delayin: 4000; easingin: easeOutExpo;", style: "left: 363px; top: 385px; color: #ffffff; font-size: 13px; padding: 5px 10px;"}
        Firefox
      %img.ls-s-1{alt: "", rel: "slidedirection: top; slideoutdirection: right; rotateout: 180; rotatein: -360; durationout: 1500; durationin: 2000; delayin: 2500; delayout: 1000; easingin: easeOutBounce;", src: "/assets/demo/slides/dynamic/safari.png", style: "left: 462px; top: 280px;"}/
      .ls-s3{rel: "slidedirection: fade; scalein: 4; delayin: 4000; easingin: easeOutExpo;", style: "left: 486px; top: 385px; color: #ffffff; font-size: 13px; padding: 5px 10px;"}
        Safari
      %img.ls-s-1{alt: "", rel: "slidedirection: top; slideoutdirection: right; rotateout: 180; rotatein: 360; durationout: 1500; durationin: 2000; delayin: 2000; delayout: 1000; easingin: easeOutBounce;", src: "/assets/demo/slides/dynamic/opera.png", style: "left: 582px; top: 280px;"}/
      .ls-s3{rel: "slidedirection: fade; scalein: 4; delayin: 4000; easingin: easeOutExpo;", style: "left: 605px; top: 385px; color: #ffffff; font-size: 13px; padding: 5px 10px;"}
        Opera
      %img.ls-s-1{alt: "", rel: "slidedirection: top; slideoutdirection: right; rotateout: 180; rotatein: -360; durationout: 1500; durationin: 2000; delayin: 1500; delayout: 1000; easingin: easeOutBounce;", src: "/assets/demo/slides/dynamic/ie.png", style: "left: 702px; top: 280px;"}/
      .ls-s3{rel: "slidedirection: fade; scalein: 4; delayin: 4000; easingin: easeOutExpo;", style: "left: 730px; top: 385px; color: #ffffff; font-size: 13px; padding: 5px 10px;"}
        IE8+
      .ls-s-1{rel: "slidedirection: fade; slideoutdirection: left; delayout: 1000; durationin: 2000; durationout: 500;", style: "padding: 10px 20px; border-radius: 3px; background-color: #ffffff; font-weight: 300; font-size: 26px; color: #181818; white-space: nowrap; left: 50%; top: 90px;"}
        Youxi Never Abandons Any of These!
    .ls-layer{style: "slidedelay: 5000; delayout: 1200; transition2d: all;"}
      %img.ls-bg{alt: "", src: "/assets/demo/slides/dynamic/bg_3.jpg"}/
      %img.ls-s-1{alt: "", rel: "slidedirection: right; slideoutdirection: right; scalein: 0.5; rotatein: -32; rotateout: -32; durationout: 2000; durationin: 2000; easingin: easeOutQuad;", src: "/assets/demo/slides/dynamic/earth.png", style: "left: 382px; top: 60px;"}/
      .ls-s-1{rel: "slidedirection: fade; slideoutdirection: left; rotatein: 180; delayin: 2000;", style: "padding: 10px 20px; border-radius: 3px; background-color: #3d5066; font-weight: 300; font-size: 26px; color: #ffffff; white-space: nowrap; left: 80px; top: 90px;"}
        So what are you waiting for?
      .ls-s-1{rel: "slidedirection: left; slideoutdirection: fade; scaleout: 4; delayin: 2800;", style: "padding: 10px 20px; border-radius: 3px; background-color: #ffffff; font-weight: 300; font-size: 20px; color: #181818; white-space: nowrap; left: 80px; top: 160px;"}
        %a{href: "http://www.themeforest.net", style: "color: #181818;"} » Buy Now on ThemeForest!
.content
  .highlight
    .container
      .sixteen.columns
        .highlight-inner
          .col-text
            %h2.headline
              %span.accent> Clean
              ,
              %span.accent Elegant
              and
              %span.accent Modern
              Multipurpose Template Available Only on ThemeForest
            %p Packed with tons of elements suitable for any personal blog or business websites.
          .col-btn
            %a.btn{href: "#"} Buy Now On ThemeForest

