.container.main
  .row
    / Feature Text
    .one-third.column
      .feature-text
        .text
          %img.feature-img{alt: "", src: "/assets/demo/founding.jpg"}/
          %h4.caption The Founding of Youxi Themes
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    / End Feature Text
    / Feature Text
    .one-third.column
      .feature-text
        .text
          %img.feature-img{alt: "", src: "/assets/demo/rich.jpg"}/
          %h4.caption Our Success Story
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    / End Feature Text
    / Feature Text
    .one-third.column
      .feature-text
        .text
          %img.feature-img{alt: "", src: "/assets/demo/strategy.jpg"}/
          %h4.caption Our Strategy
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    / End Feature Text
  .row
    .ten.columns
      %h3.title
        %span Our Services
      .service
        .icon
          %i.icon-magic
        .text
          %h3.name Mobile and Web Apps
          %p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
      .service
        .icon
          %i.icon-globe
        .text
          %h3.name Strategic Marketing
          %p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
      .service
        .icon
          %i.icon-charts
        .text
          %h3.name Web Analytics
          %p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
      .service
        .icon
          %i.icon-iphone
        .text
          %h3.name iOS Apps Development
          %p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
    .six.columns
      %form.form{method: "post"}
        %fieldset
          %legend We're Hiring
          .form-row
            %label.form-label{for: "contactform_name"} Name
            .form-item
              %input.large.required{name: "name", type: "text"}/
          .form-row
            %label.form-label{for: "contactform_email"} Email
            .form-item
              %input.large.required.email{name: "email", type: "text"}/
          .form-row
            %label.form-label{for: "contactform_subject"} CV
            .form-item
              %input{name: "CV", type: "file"}/
          .form-row
            %label.form-label{for: "contactform_comment"} Comment
            .form-item
              %textarea.large.required{name: "comment"}
          .button-row
            %button.btn{type: "submit"} Submit
  .row
    %h3.title
      %span Our Clients
    / Clients Carousel
    .carousel.clearfix
      .four.columns
        .client-wrap
          .client-logo
            %a{href: "#"}
              %img{alt: "", src: "/assets/demo/clients/athleteform.png"}/
      .four.columns
        .client-wrap
          .client-logo
            %a{href: "#"}
              %img{alt: "", src: "/assets/demo/clients/ingenio.png"}/
      .four.columns
        .client-wrap
          .client-logo
            %a{href: "#"}
              %img{alt: "", src: "/assets/demo/clients/twentyfour.png"}/
      .four.columns
        .client-wrap
          .client-logo
            %a{href: "#"}
              %img{alt: "", src: "/assets/demo/clients/travel.png"}/
      .four.columns
        .client-wrap
          .client-logo
            %a{href: "#"}
              %img{alt: "", src: "/assets/demo/clients/babylogo.png"}/
      .four.columns
        .client-wrap
          .client-logo
            %a{href: "#"}
              %img{alt: "", src: "/assets/demo/clients/sharesite.png"}/
    / End Clients Carousel

